
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Service Section Start Here -->
<!-- Page Header Section Start Here -->
<section class="page-header">
    <div class="container">
        <div class="page-title">
            <h2>Virus Prevention</h2>
            <ul class="breadcrumb lab-ul">
                <li><a href="index.html">Home</a></li>
                <li>Prevention</li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header Section Ending Here -->
<section class="service-section bg-f9 home-2 padding-tb">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <span>How To Protect Yourself</span>
            <h2>Stay Safe From The Coronavirus.</h2>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/01.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Avoid Close Contact</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/02.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Clean Your Hands Often</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/03.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Stay At Home</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/04.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Cover Coughs And Sneezes</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/05.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Wear a Facemask if You Are Sick</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center">
                        <div class="service-inner">
                            <div class="service-thumb">
                                <img src="~/assets/images/service/06.png" alt="service">
                            </div>
                            <div class="service-content">
                                <h5>Clean And Disinfect</h5>
                                <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section Ending Here -->
<!-- Service Section Start Here -->
<section class="service-section style-2 bg_img padding-tb" style="background-image: url(assets/css/bg-image/bg-4.jpg);">
    <div class="container">
        <div class="service-wrap">
            <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
                <span>How To Protect Yourself</span>
                <h2>Stay Safe From The Coronavirus.</h2>
            </div>
            <div class="section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/01.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Coughing And Sneezing</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/02.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Hot Fever</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/03.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Strong Headacke</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/04.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Shortness Of Breath</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/05.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Confusion</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item text-center">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="~/assets/images/service/06.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h5>Sore Throat</h5>
                                    <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section Ending Here -->
<!-- safe actions section start here -->
<section class="service-section home-4 style-2 bg-f6 p-rel padding-tb">
    <div class="home-4-shape">
        <div class="shape">
            <img src="~/assets/images/banner/home-4/home-4-shape.png" alt="service-shape">
        </div>
    </div>
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s">
            <span>Should Do And Should Avoid</span>
            <h2>Prevention Coronavirus Covid-19</h2>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-md-6 col-12">
                    <div class="service-left">
                        <h3>What you should do</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/01.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Wash your hands sanitizer</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/02.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Ware a face mask outside</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/03.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Cover your cough tissue paper</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/04.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Check your body regulerly</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="service-right">
                        <h3>What you should avoid</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/05.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact with sick people</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/06.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact animals</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/07.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid crowded places</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="~/assets/images/service/home-3/08.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Contaminated objects</h4>
                                            <p>Our comprehensive Online Marketing strategy will boost your website trafic hence monthly sales.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


