@model webapp.Models.Danhmuc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h1>Xóa danh mục</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tendm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tendm)
        </dd>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Madm" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </form>


</div>
